.Memory-Numbers-App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* pulse animation */
.Memory-Game-Numbers {
  animation: pulse 1s infinite;
}

.Memory-Game-Container .user-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Memory-Game-Container .user-input input {
  text-align: center;
}

.Memory-Game-Container .user-input input[type="number"]::-webkit-inner-spin-button,
.Memory-Game-Container .user-input input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Memory-Game-Container .user-input input[type="number"] {
  /* Firefox */
  -moz-appearance: textfield;
  /* Otros navegadores */
  appearance: textfield;
}

.Memory-Game-Container .number {
  display: flex;
  justify-content: center;
  gap: 20px;
}