.Arkanoid-Project * {
  text-align: center;
  box-sizing: border-box;
}

.Arkanoid-Project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Arkanoid-game-container {
  position: relative;
  border: 4px solid black;
}

.Arkanoid-game-container .Arkanoid-ball {
  background-color: white;
  border-radius: 50%;
  position: absolute;
}

.Arkanoid-game-container .Arkanoid-block {
  position: absolute;
}

.Arkanoid-game-container .Arkanoid-paddle {
  position: absolute;
  background-color: red;
}