.Home-Contact-Form {
  text-align: center;
  width: 80%;
}

.Home-Contact-Form .home-contact-group {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-top: 8px;
}

@media screen and (max-width: 500px) {
  .Home-Contact-Form .home-contact-group {
    flex-direction: column;
  }
}